<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-input type="text" fill="solid" label="Username" labelPlacement="floating" helperText="Enter a username"
          errorText="Invalid username" [(ngModel)]="username"></ion-input>
      </ion-col>
      <ion-col size="12"><ion-input type="email" fill="solid" label="Email" labelPlacement="floating"
          helperText="Enter a valid email" errorText="Invalid email" [(ngModel)]="email" email></ion-input></ion-col>

      <ion-col size="12" class="ion-text-end">
        <ion-button shape="round" fill="outline" color="success" *ngIf = "userid === null; else elseBlock"
          (click)="Submit()">Submit</ion-button>

        <ng-template #elseBlock>
          <ion-button shape="round" fill="outline" color="success" (click)="Update()">Update</ion-button>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
